@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700);
@import url(http://fonts.googleapis.com/css?family=Bree+Serif);

body{
	background: url("../images/background-blur.jpg") no-repeat fixed;
	background-size: 100% 100%;
	font-family: 'Bree Serif', Arial;
}

.heading, .heading-thanks{
  float:none;
  display:block;
  width:680px;
}

.heading{
  margin:120px auto auto auto;
}

.heading-thanks{
  margin:180px auto auto auto;
}

h1,h2,h4{
	color:white;
  text-align:center;
  text-shadow:1px 1px 4px black;
}

.subscribe{
	width: 680px;
	float: none;
	margin-top: 70px;
	margin-left: auto;
	margin-right: auto;
}

.subscribe .error input[type="email"]{
	width: 560px;
  border-width:3px;
  border-color:#c0392b;
  box-shadow:1px 1px 4px black;
  background:rgba(255,255,255,0.7);
}

.subscribe .error input[type="email"]:focus{
  background:white;
  border-color:#e74c3c;
}

#btn-submit.btn.btn-danger{
	cursor: pointer;
  box-shadow:1px 1px 4px black;
  font-weight:bold;
  background-color:#c0392b;
}

#btn-submit.btn.btn-danger:hover{
  background-color:#e74c3c;
}

@media (max-width:700px){
  .heading,.heading-thanks{
    width:90%;
  }
  .subscribe{
    width:90%;
  }
  h1{
    font-size:26px;
  }
  h2{
    font-size:19px;
  }
  .subscribe .error input[type="email"]{
    width:76%;
  }
}

@media (max-width:568px){
  .heading{
    margin-top:5%;
  }
  .heading-thanks{
    margin-top:42%;
  }
}

@media (max-width:552px){
  
  .subscribe{
    display:block;
    position:relative;
    margin-top:40px;
  }

  .subscribe .error input[type="email"]{
    width:94%;
    margin:auto;
    float:none;
    display:block;
    background:white;
  }
  #btn-submit.btn.btn-danger{
    width:100%;
    display:block;
    margin-top:15px;
  }
}

@media (max-width:340px){
  body{
    background: url("../images/background-trim.jpg") no-repeat fixed;
  }
  .heading{
    margin-top:20px;
  }

  .subscribe{
    margin-top:70px;
  }
}
